.section__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1312px;

}

.load-more {
    background-color: transparent;
    padding: 16px 32px 16px 32px;
    border-radius: 200px;
    border: 1px solid rgba(71, 84, 103, 0.2);
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.load-more:hover {
    border-color: rgba(228, 72, 72, 1);
}
