.details {
  width: 100%;
}

.details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.details__title {
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin: 0;
}

.details__prop {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  vertical-align: middle;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.details__prop:not(:last-child) {
    margin-right: 16px;
  }

.details__close {
  background-color: transparent;
  border: none;
  position: relative;
  width: 24px;
  height: 24px;
}

.details__close::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: black;
  width: 2px;
  height: 24px;
  border-radius: 2px;
}

.details__close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: black;
  width: 2px;
  height: 24px;
  border-radius: 2px;
}

.details__gallery {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

.details__gallery img {
    object-fit: cover;
    border-radius: 10px;
}

.details__main {
    overflow-x: auto;   
    height: 420px;
}

.details__main::-webkit-scrollbar {
    width: 8px;
}

.details__main::-webkit-scrollbar-thumb {
    background-color: rgba(16, 24, 40, 0.2);
    border-radius: 4px;
}

.details__main::-webkit-scrollbar-track {
    background-color: rgba(16, 24, 40, 0.1);
    border-radius: 4px;
}

.details__tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.details__tabs-nav {
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
    width: 100%;
    position: relative;
}

.details__tabs-nav::before {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(16, 24, 40, 0.1);
}

.details__tabs-nav button {
    background-color: transparent;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.details__tabs-nav button.active::before {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(228, 72, 72, 1);
}

.details__price {
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin-bottom: 0;
}
