.filters-form {
  max-width: 365px;
}

.filters-form fieldset {
  border: none;
  margin-bottom: 32px;
  padding: 0;
}

.filters-form fieldset:nth-child(2) {
  margin-bottom: 64px;
}

.filters-form legend {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(71, 84, 103, 1);
  margin-bottom: 14px;
}

.filters-form__title {
  width: 100%;
  margin: 0;
  margin-bottom: 24px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: rgba(16, 24, 40, 1);
  position: relative;
}

.filters-form__title::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(16, 24, 40, 0.1);
}

.filter-item {
  display: flex;
  padding: 17px 18px;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  width: 104px;
  min-height: 95px;
  text-align: center;
}

.filter-item input {
  display: none;
}

.filter-item--checked {
  border: 1px solid rgba(228, 72, 72, 1);
}

.filters-form__container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.filters-form__container:not(:last-child) {
  margin-bottom: 32px;
}


