.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #2980b9;
}

.subtitle {
  font-size: 20px;
  color: #f39c12; 
  margin-bottom: 20px;
}

.services {
  margin-top: 20px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  color: #2980b9; /* синій колір */
  margin-bottom: 10px;
}

.sub-section-title {
  font-size: 20px;
  font-weight: bold;
  color: #2980b9; /* синій колір */
  margin-top: 20px;
  margin-bottom: 10px;
}

.services p {
  font-size: 16px;
  color: #34495e; /* синій колір */
  line-height: 1.5;
}

.services ul, .services ol {
  margin-top: 10px;
  margin-bottom: 10px;
}

.services li {
  color: #34495e; /* синій колір */
  margin-bottom: 5px;
}

.contact-info {
  margin-top: 20px;
}

.contact-info p {
  font-size: 16px;
  color: #34495e; /* синій колір */
}

.footer-text {
  font-size: 16px;
  color: #95a5a6; /* світло-сірий колір */
  margin-top: 20px;
}
